<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <span
    class="navbar-brand"
    *ngIf="authService.isLoggedIn()">
    Welcome  <b>{{ currentUser?.firstName }}</b>
  </span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a
          href="#"
          class="nav-link"
          (click)="authService.logoutUser()">
          Logout
        </a>
      </li>
    </ul>
  </div>
  <span
  class="friend-requests text-white"
  (click)="showFriendRequests()"
  *ngIf="amountOfRequests">
    You have <b>{{ amountOfRequests }}</b> new friend request(s).
  </span>
</nav>
<div
  class="w-100 alert alert-info text-center"
  *ngIf="showRequests">
  <div
    class="request"
    *ngFor="let request of friendRequests; trackBy: trackFriendRequests">
    <b>{{ request.sender.firstName }} {{ request.sender.lastName }}</b> wants to add you!
    <button
      class="btn btn-light btn-outline-dark"
      (click)="acceptFriendRequest(request)">
      Accept
    </button>
    <button
      class="btn btn-light btn-outline-dark"
      (click)="declineFriendRequest(request)">
      Decline
    </button>
  </div>
</div>

