.chatbox{
  padding-left: 40px;
  padding-right: 40px;
}

.my-message{
  box-sizing: border-box;
  padding: 4px;
  background-color: lightgray;
  border: lightgray 1px solid;
  border-radius: 5px
}

.other-message{
  box-sizing: border-box;
  padding: 4px;
  background-color: lightblue;
  border: lightblue 1px solid;
  border-radius: 5px;
}

