<div class="row">
  <ul class="list-unstyled w-100">
    <li class="row">
      <span class="other-message">
        Ahoj
      </span>
    </li>
    <li class="row float-right">
      <span class="my-message">
        Jak se máš? Doufám, že dobře, když ne, tak to nevadí.
      </span>
    </li>
  </ul>
</div>
<div class="row messageBox">
    <div class="col-8">
      <input
        class="form-control"
        type="text"
        placeholder="Type in your message.">
    </div>
    <div class="col-4">
      <button class="btn btn-dark">
        Send
      </button>
    </div>
</div>
