<form
  ngForm
  #form="ngForm"
  class="form-signin"
  (ngSubmit)="loginUser(form.value)">
  <h2 class="form-signin-heading text-center">Register to Chat</h2>
  <div class="form-group">
    <label for="email" class="sr-only">Email address</label>
    <input
      ngModel
      name="email"
      #email="ngModel"
      id="email"
      class="form-control"
      type="email"
      placeholder="Email address"
      required
      maxlength="512"
      pattern="^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$">
    <div
      class="alert alert-danger"
      *ngIf="email.touched && !email.valid">
      <div *ngIf="email.errors.required">
        Email address is required.
      </div>
      <div *ngIf="email.errors.maxlength">
        Email address should have maximum 512 characters.
      </div>
      <div *ngIf="email.errors.pattern">
        Email address doesn't match the pattern.
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="username" class="sr-only">Username</label>
    <input
      ngModel
      name="username"
      #username="ngModel"
      id="username"
      class="form-control"
      type="text"
      placeholder="Username"
      required
      minlength="4"
      maxlength="64">
    <div
      class="alert alert-danger"
      *ngIf="username.touched && !username.valid">
      <div
        *ngIf="username.errors.required">
        Username is required.
      </div>
      <div
        *ngIf="username.errors.minlength">
        Username should have minimum {{ username.errors.minlength.requiredLength }} characters.
      </div>
      <div
        *ngIf="username.errors.maxlength">
        Username should have maximum {{ username.errors.maxlength.requiredLength }} characters.
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="firstName" class="sr-only">Firstname</label>
    <input
      ngModel
      name="firstName"
      #firstName="ngModel"
      id="firstName"
      class="form-control"
      placeholder="First name"
      required
      maxlength="64"
      pattern=".+"
    >
    <div
      class="alert alert-danger"
      *ngIf="firstName.touched && !firstName.valid">
      <div
        *ngIf="firstName.errors.required">
        First name is required.
      </div>
      <div
        *ngIf="firstName.errors.maxlength">
        First name should have maximum 64 characters.
      </div>
      <div
        *ngIf="firstName.errors.pattern">
        First name doesn't match the pattern.
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="middleName" class="sr-only">Middle name</label>
    <input
      ngModel
      name="middleName"
      #middleName="ngModel"
      id="middleName"
      type="text"
      class="form-control"
      placeholder="Middle name"
      maxlength="64">
    <div
      class="alert alert-danger"
      *ngIf="!middleName.valid">
      <div *ngIf="middleName.errors.maxlength">
        Middle name should have maximum 64 characters.
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="lastName" class="sr-only">Last name</label>
    <input
    ngModel
    name="lastName"
    #lastName="ngModel"
    id="lastName"
    type="text"
    class="form-control"
    placeholder="Last name"
    required
    maxlength="64"
    pattern=".+">
    <div
    class="alert alert-danger"
    *ngIf="lastName.touched && !lastName.valid">
      <div
        *ngIf="lastName.errors.required">
        Last name is required.
      </div>
      <div
        *ngIf="lastName.errors.maxlength">
        Last name should have maximum 64 characters.
      </div>
      <div
        *ngIf="lastName.errors.pattern">
        Last name doesn't match the pattern.
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="birthdate" class="sr-only">Birthdate</label>
    <input
      ngModel
      name="birthdate"
      #birthdate="ngModel"
      id="birthdate"
      class="form-control"
      type="date"
      required>
    <div
      class="alert alert-danger"
      *ngIf="birthdate.touched && !birthdate.valid">
      Birthdate is required.
    </div>
  </div>
  <div class="form-group">
    <div class="radio">
      <label for="male">
        <input
          ngModel
          name="gender"
          id="male"
          type="radio"
          value="M"
          required>
        Male
      </label>
    </div>
    <div class="radio">
      <label for="female">
        <input
          ngModel
          name="gender"
          id="female"
          type="radio"
          value="F"
          required>
        Female
      </label>
    </div>
  </div>
  <div class="form-group">
    <label for="password" class="sr-only">Password</label>
    <input
      ngModel
      name="password"
      #password="ngModel"
      id="password"
      class="form-control"
      type="password"
      placeholder="Password"
      minlength="8"
      maxlength="128"
      required>
    <div
      class="alert alert-danger"
      *ngIf="password.touched && !password.valid">
      <div
        *ngIf="password.errors.required">
        Password is required.
      </div>
      <div
        *ngIf="password.errors.minlength">
        Password should be minimum {{ password.errors.minlength.requiredLength }} characters.
      </div>
    </div>
  </div>
  <button
    class="btn btn-lg btn-primary btn-block"
    type="submit"
    [disabled]="!form.valid">
    Register
  </button>
  <button
    class="btn btn-lg btn-primary btn-block"
  (click)="redirectToLogin()">
    Login
  </button>
</form>
