<div class="container-fluid p-0">      
  <app-header></app-header>    
  <div class="container-fluid p-0 main">    
    <div class="controls">
      <div class="friends">
        <app-friends></app-friends>
      </div>            
      <div class="rooms">
        <app-rooms (roomChangedEvent)="receiveChangedRoom($event)" [currentUser]="currentUser"></app-rooms>
      </div>          
    </div>    
    <div class="messages">
      <app-messages [currentRoomID]="currentRoomID" [currentUser]="currentUser" ></app-messages>
    </div>
  </div>
</div>

