<form
  ngForm
  #form="ngForm"
  class="form-signin"
  (ngSubmit)="resetPassword(form.value)"
>
  <h2 class="form-signin-heading text-center">Forgot your password?</h2>
  <div class="form-group">
    <label for="username" class="sr-only">Email address</label>
    <input
      ngModel
      name="username"
      #username="ngModel"
      id="username"
      class="form-control"
      type="text"
      placeholder="Username"
      required
      maxlength="64">
  </div>

  <button
    class="btn btn-lg btn-primary btn-block"
    type="submit"
    [disabled]="!form.valid">
    Reset
  </button>
  <a routerLink="/login">Already have an account?</a>
</form>
