<div
  class="alert alert-success"
  *ngIf="hasFriendRequestSent">
  Friend request successfully sent!
</div>
<div
  class="alert alert-danger"
  *ngIf="hasFriendRequestError">
  Username doesn't exist. Please try again.
</div>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th id="table-title">
        Friends
      </th>
      <th colspan="2">
        <input
          #inputFriend
          class="form-control"
          type="text"
          placeholder="Type in user's username..."
          (keydown)="resetInfoAlert()">
      </th>
      <th>
        <button
          class="btn btn-dark btn-outline-light"
          (click)="addFriend(inputFriend)">
          Add
        </button>
      </th>
    </tr>
  </thead>
  <tbody>
  <tr
    class="friend"
    *ngFor="let friendship of acceptedFriendships; trackBy: trackFriend">
    <td>
      <b *ngIf="friendship.recipient.id === currentUser.id">
        {{ friendship.sender.username }}
      </b>
      <b *ngIf="friendship.sender.id === currentUser.id">
        {{ friendship.recipient.username }}
      </b>
    </td>
    <td>
      <span *ngIf="friendship.recipient.id === currentUser.id">{{ friendship.sender.firstName }}</span>
      <span *ngIf="friendship.sender.id === currentUser.id">{{ friendship.recipient.firstName }}</span>
    </td>
    <td>
      <span *ngIf="friendship.recipient.id === currentUser.id">{{ friendship.sender.lastName }}</span>
      <span *ngIf="friendship.sender.id === currentUser.id">{{ friendship.recipient.lastName }}</span>
    </td>
    <td>
      <button
        class="btn btn-light btn-outline-dark"
        (click)="removeFriendship(friendship)">
        X
      </button>
    </td>
  </tr>
  </tbody>
</table>
