<table class="table">
  <thead>
    <tr>
      <th>
        Friends
      </th>
      <th>
        <button
          class="btn btn-dark"
          (click)="findFriend(inputFriend.value)">
          Add
        </button>
      </th>
      <th>
        <input #inputFriend class="form-control" type="text">
      </th>
    </tr>
  </thead>
  <tbody *ngFor="let friend of friends">
  <tr>
    <td>
      <b>
      {{ friend.username }}
      </b>
    </td>
    <td>
      {{ friend.firstName }}
    </td>
    <td>
      {{ friend.lastName }}
    </td>
  </tr>
  </tbody>
</table>
